header{
    background-color: 
    #2196f3 ;
    width: 100%;
    display: flex;
    flex-direction: center;
    justify-content: space-between;
    margin-bottom: 20px;
    
  
}

header ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    font-size: xx-large;
}

header ul li{
    margin: 30px;
    margin-right: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: aliceblue
    
}

a{
    text-decoration: none;
}

header img{
    margin-top: 5px;
    margin-left: 30px;
    margin-bottom: 5px;
}

img{
    width: 100px;
}

.carousel-item img{
    width: 150px;
    height: 1000px;
}

.letra{
    background-color: aliceblue;
}

footer{
    background-color: grey;
}

.contenedor2{
    background-color: #2196f3;
}

p{
    font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

